# Python - Pandas - Data Frame - Select

In [1]:
import pandas as pd    #python data analysis
import numpy as np     #numeric python
import matplotlib.pyplot as plt
%matplotlib inline

#format settings
pd.options.display.float_format = '{:.4f}'.format

#read from CSV
str_path_data = "..//..//data//"
dt_nba = pd.read_csv(str_path_data + "nba.csv")
dt_nba = dt_nba.dropna(how="all") #remove all row where all data is null
dt_nba.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0000,PG,25.0000,6-2,180.0000,Texas,7730337.0000
1,Jae Crowder,Boston Celtics,99.0000,SF,25.0000,6-6,235.0000,Marquette,6796117.0000
2,John Holland,Boston Celtics,30.0000,SG,27.0000,6-5,205.0000,Boston University,nan
3,R.J. Hunter,Boston Celtics,28.0000,SG,22.0000,6-5,185.0000,Georgia State,1148640.0000
4,Jonas Jerebko,Boston Celtics,8.0000,PF,29.0000,6-10,231.0000,NaN,5000000.0000
5,Amir Johnson,Boston Celtics,90.0000,PF,29.0000,6-9,240.0000,NaN,12000000.0000
6,Jordan Mickey,Boston Celtics,55.0000,PF,21.0000,6-8,235.0000,LSU,1170960.0000
7,Kelly Olynyk,Boston Celtics,41.0000,C,25.0000,7-0,238.0000,Gonzaga,2165160.0000
8,Terry Rozier,Boston Celtics,12.0000,PG,22.0000,6-2,190.0000,Louisville,1824360.0000
9,Marcus Smart,Boston Celtics,36.0000,PG,22.0000,6-4,220.0000,Oklahoma State,3431040.0000

In [2]:
#Columns
list(dt_nba)

['Name',
 'Team',
 'Number',
 'Position',
 'Age',
 'Height',
 'Weight',
 'College',
 'Salary']

## Create New Column

In [3]:

#  A new column is declared if the column name does not exists.
#  if the column exists, then the column is overwritten

dt_nba["SalaryCopy"] = dt_nba["Salary"]

dt_nba[["Name","Team","Salary","SalaryCopy"]].head()

            Name            Team       Salary   SalaryCopy
0  Avery Bradley  Boston Celtics 7730337.0000 7730337.0000
1    Jae Crowder  Boston Celtics 6796117.0000 6796117.0000
2   John Holland  Boston Celtics          nan          nan
3    R.J. Hunter  Boston Celtics 1148640.0000 1148640.0000
4  Jonas Jerebko  Boston Celtics 5000000.0000 5000000.0000

## Multiple ways to add/update column values

In [4]:
#Different way to do calculated fields


#calculation for new column
def GetSalaryIncrement(val):
    return val * 1.1


#1) direct columns
dt_nba["SalaryPlus10%A"] = dt_nba["Salary"] + (dt_nba["Salary"] * .1)

#2) function usage
dt_nba['SalaryPlus10%B'] = GetSalaryIncrement(dt_nba["Salary"])

#3) map - function
dt_nba['SalaryPlus10%C'] = dt_nba["Salary"].map(GetSalaryIncrement)

#4) apply - function
dt_nba['SalaryPlus10%D'] = dt_nba["Salary"].apply(GetSalaryIncrement)


dt_nba[["Name","Team","Salary","SalaryPlus10%A","SalaryPlus10%B","SalaryPlus10%C",'SalaryPlus10%D']][:5]

,Name,Team,Salary,SalaryPlus10%A,SalaryPlus10%B,SalaryPlus10%C,SalaryPlus10%D
0,Avery Bradley,Boston Celtics,7730337.0000,8503370.7000,8503370.7000,8503370.7000,8503370.7000
1,Jae Crowder,Boston Celtics,6796117.0000,7475728.7000,7475728.7000,7475728.7000,7475728.7000
2,John Holland,Boston Celtics,nan,nan,nan,nan,nan
3,R.J. Hunter,Boston Celtics,1148640.0000,1263504.0000,1263504.0000,1263504.0000,1263504.0000
4,Jonas Jerebko,Boston Celtics,5000000.0000,5500000.0000,5500000.0000,5500000.0000,5500000.0000