# Python Basics


## 1) Types

In [1]:
# comments

1+1

2

In [2]:
#string type
type("hello")

str

In [3]:
#boolean type
type(True)

bool

In [4]:
#type of type output
type(type(True))

type

In [5]:
first_name = "Earl"
last_name = "P"
full_name = first_name +' '+ last_name

full_name

'Earl P'

In [6]:
from datetime import datetime

datetime_object = datetime.strptime('Mar 1 2019  6:33PM', '%b %d %Y %I:%M%p')

datetime_object

datetime.datetime(2019, 3, 1, 18, 33)

In [7]:
1 == int("1")  #covert string to int using int()

True

## 2) List / Dictionary

In [8]:
# List  /  Array

[1,2,4]

[1, 2, 4]

In [9]:
arr_data = [100,200,"300"]
arr_data

[100, 200, '300']

In [10]:
type(arr_data)

list

In [11]:
arr_data[2]

'300'

In [12]:
#Dictionaty / List

menu =  {"Filet Mognon" : 30.00  ,
         "Big Mac" : 10.50,
         "Cupcake":3.52
        }

menu

{'Filet Mognon': 30.0, 'Big Mac': 10.5, 'Cupcake': 3.52}

In [13]:
menu["Big Mac"]

10.5

## 3) Functions

In [14]:
def convert_to_Fahrenheit(celsius):
    fah =( celsius  * 1.8 ) + 32
    return fah


convert_to_Fahrenheit(21)

69.80000000000001

In [15]:
convert_to_Fahrenheit(28)

82.4

# 4) Pandas - Series

In [16]:
import pandas as pd

ice_cream = ["chocolate","vanilla","rum","mango","strawberry"]

#pandas series
pd.Series(ice_cream)

0     chocolate
1       vanilla
2           rum
3         mango
4    strawberry
dtype: object

In [17]:
lottery = [1,42,45,56,12,90]

lottery_series = pd.Series(lottery)
lottery_series

0     1
1    42
2    45
3    56
4    12
5    90
dtype: int64

In [18]:
lottery_series[2:4]

2    45
3    56
dtype: int64

## 5) Pandas - Series from Dictionary

In [19]:
menu

{'Filet Mognon': 30.0, 'Big Mac': 10.5, 'Cupcake': 3.52}

In [20]:
#type of series is the data within the series.  The first column is the key

menu_series = pd.Series(menu)
menu_series

Big Mac         10.50
Cupcake          3.52
Filet Mognon    30.00
dtype: float64

In [21]:
menu_series.values

array([10.5 ,  3.52, 30.  ])

In [22]:
menu_series.index

Index(['Big Mac', 'Cupcake', 'Filet Mognon'], dtype='object')

In [23]:
menu_series.index[2]

'Filet Mognon'

In [24]:
type(menu_series.index[2])

str

In [25]:
menu_series.values.sum()

44.019999999999996

In [26]:
menu_series.values.mean()

14.673333333333332

In [27]:
menu_series.values.mean()

14.673333333333332

In [28]:
labels = ["Apple","Google","Microsoft","Acer"]
price = [323,100.4,203,7.9]

pd.Series(data=price,index=labels)

Apple        323.0
Google       100.4
Microsoft    203.0
Acer           7.9
dtype: float64

# 6) Read Data

In [29]:


df_nba = pd.read_csv("data//nba.csv", usecols=["Name","Age","Weight"])

df_nba[:10]

            Name   Age  Weight
0  Avery Bradley  25.0   180.0
1    Jae Crowder  25.0   235.0
2   John Holland  27.0   205.0
3    R.J. Hunter  22.0   185.0
4  Jonas Jerebko  29.0   231.0
5   Amir Johnson  29.0   240.0
6  Jordan Mickey  21.0   235.0
7   Kelly Olynyk  25.0   238.0
8   Terry Rozier  22.0   190.0
9   Marcus Smart  22.0   220.0

In [30]:

#squeeze=True makes the data convert into a series (given one columns)
df_google = pd.read_csv("data//google_stock_price.csv",squeeze=True)

df_google[:10]

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
6    53.02
7    50.95
8    51.13
9    50.07
Name: Stock Price, dtype: float64

In [31]:
type(df_google)

pandas.core.series.Series

In [32]:
df_google.head(10)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
6    53.02
7    50.95
8    51.13
9    50.07
Name: Stock Price, dtype: float64

In [33]:
#sorting : uses pre-existing python functions  (max,min,sorted)
sorted_google_data = sorted(df_google)

{ "No Of Data":len(df_google)
 ,"Max":max(df_google)
 ,"Min":min(df_google)
 ,"Sorted Data":sorted_google_data[:10]
 ,"Sorted Data(sort_values)":df_google.sort_values(ascending=False).head(10)}

{'No Of Data': 3012,
 'Max': 782.22,
 'Min': 49.95,
 'Sorted Data': [49.95,
  50.07,
  50.12,
  50.7,
  50.74,
  50.95,
  51.1,
  51.1,
  51.13,
  52.38],
 'Sorted Data(sort_values)': 3011    782.22
 2859    776.60
 3009    773.18
 3007    772.88
 3010    771.61
 3008    771.07
 2860    771.00
 3006    768.79
 2840    767.04
 2843    766.81
 Name: Stock Price, dtype: float64}

# 7) Collection

In [39]:
#INDEX LIST in a Series

2843 in df_google.index  # .index shows all indexes

True

In [40]:
#VALUES LIST in a Series

771.0 in df_google.values  # .values shows values within the series

True

In [42]:
#get list of data with precise index positions
df_google[[1,5,10]]

1     54.1
5     53.9
10    50.7
Name: Stock Price, dtype: float64

In [49]:
#get list of data within range
[df_google[50:55+1], df_google[55:60+1]]

[50    95.22
 51    97.92
 52    97.34
 53    95.74
 54    92.26
 55    84.59
 Name: Stock Price, dtype: float64, 55    84.59
 56    86.19
 57    84.27
 58    83.85
 59    91.42
 60    90.91
 Name: Stock Price, dtype: float64]

In [44]:
#get list of data within range (begin not indicated)
df_google[:5]

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [37]:
df_google.values

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [115]:
#squeeze will make a value pair
#index_col - declare the index of the dictionary
df_pokemon = pd.read_csv("data//pokemon.csv",index_col="Pokemon",squeeze=True)
df_pokemon.sort_index(inplace=True)
df_pokemon.head(8)

Pokemon
Abomasnow       Grass
Abra          Psychic
Absol            Dark
Accelgor          Bug
Aegislash       Steel
Aerodactyl       Rock
Aggron          Steel
Aipom          Normal
Name: Type, dtype: object

In [120]:
df_pokemon["Charmander":"Cherubi"],df_pokemon[["Ivysaur","Charizard"]]

(Pokemon
 Charmander      Fire
 Charmeleon      Fire
 Chatot        Normal
 Cherrim        Grass
 Cherubi        Grass
 Name: Type, dtype: object, Pokemon
 Ivysaur      Grass
 Charizard     Fire
 Name: Type, dtype: object)

In [121]:
df_pokemon.get(key=["Charizard","Digimon"])  # get returns NAN if not exists

Pokemon
Charizard    Fire
Digimon       NaN
Name: Type, dtype: object

In [122]:
df_pokemon.count() #excluses NAN  vs   len(df_pokemon)

721

In [124]:
df_google.std() #standard deviation

173.18720477113106

In [140]:
{
"Median" : df_google.median()
,"Mean" : df_google.mean()
,"Max" : df_google.max()
,"Min" : df_google.min()   
,"Index Max" : df_google.idxmax() #index that holds highest value
,"Index Min" : df_google.idxmin() #index that holds lowest value
}

{'Median': 283.315,
 'Mean': 334.31009296148744,
 'Max': 782.22,
 'Min': 49.95,
 'Index Max': 3011,
 'Index Min': 11}

In [143]:
#group by count
df_pokemon.value_counts(ascending=True)

Flying        3
Fairy        17
Steel        22
Ghost        23
Ice          23
Dragon       24
Fighting     25
Poison       28
Dark         28
Ground       30
Electric     36
Rock         41
Fire         47
Psychic      47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64

In [148]:
#normalize with breakdown by percentage (SUM=100%)
df_pokemon.value_counts(normalize=True).sum(),df_pokemon.value_counts(normalize=True)

(0.9999999999999999, Water       0.145631
 Normal      0.128988
 Grass       0.091540
 Bug         0.087379
 Psychic     0.065187
 Fire        0.065187
 Rock        0.056865
 Electric    0.049931
 Ground      0.041609
 Dark        0.038835
 Poison      0.038835
 Fighting    0.034674
 Dragon      0.033287
 Ice         0.031900
 Ghost       0.031900
 Steel       0.030513
 Fairy       0.023578
 Flying      0.004161
 Name: Type, dtype: float64)

In [137]:
 #mode is a series
type(df_google.mode()),df_google.mode()

(pandas.core.series.Series, 0    291.21
 dtype: float64)