# Python - Pandas - Data Frame - Inspection

In [1]:
import pandas as pd    #python data analysis
import numpy as np     #numeric python
import matplotlib.pyplot as plt
%matplotlib inline

#read from CSV
str_path_data = "..//..//data//"
dt_nba = pd.read_csv(str_path_data + "nba.csv")
dt_nba = dt_nba.dropna(how="all") #remove all row where all data is null
dt_nba.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [2]:
#version of pandas
pd.__version__

'0.22.0'

In [3]:
#pandas data type
type(dt_nba)

pandas.core.frame.DataFrame

## Columns

In [4]:
#list of column names
dt_nba.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [5]:
dt_nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [6]:
#data types of each of the data frame
dt_nba.dtypes.to_dict()

{'Name': dtype('O'),
 'Team': dtype('O'),
 'Number': dtype('float64'),
 'Position': dtype('O'),
 'Age': dtype('float64'),
 'Height': dtype('O'),
 'Weight': dtype('float64'),
 'College': dtype('O'),
 'Salary': dtype('float64')}

In [7]:
#1st axis = ROWS
dt_nba.axes[0]

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            447, 448, 449, 450, 451, 452, 453, 454, 455, 456],
           dtype='int64', length=457)

In [8]:
#2nd axis = COLUMNS
dt_nba.axes[1]

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [9]:
#show Rows x Columns   [axis[0] x axis[1]]
dt_nba.shape

(457, 9)

In [10]:
dt_nba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 457 entries, 0 to 456
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null float64
Position    457 non-null object
Age         457 non-null float64
Height      457 non-null object
Weight      457 non-null float64
College     373 non-null object
Salary      446 non-null float64
dtypes: float64(4), object(5)
memory usage: 35.7+ KB

In [11]:
list(dt_nba)

['Name',
 'Team',
 'Number',
 'Position',
 'Age',
 'Height',
 'Weight',
 'College',
 'Salary']