# Python - Pandas - Data Frame - Window Function

In [1]:
import pandas as pd    #python data analysis
import numpy as np     #numeric python
import matplotlib.pyplot as plt
%matplotlib inline

#format settings
pd.options.display.float_format = '{:.4f}'.format

#read from CSV
str_path_data = "..//..//data//"
dt_nba = pd.read_csv(str_path_data + "nba.csv")
dt_nba = dt_nba.dropna(how="all") #remove all row where all data is null
dt_nba.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0000,PG,25.0000,6-2,180.0000,Texas,7730337.0000
1,Jae Crowder,Boston Celtics,99.0000,SF,25.0000,6-6,235.0000,Marquette,6796117.0000
2,John Holland,Boston Celtics,30.0000,SG,27.0000,6-5,205.0000,Boston University,nan
3,R.J. Hunter,Boston Celtics,28.0000,SG,22.0000,6-5,185.0000,Georgia State,1148640.0000
4,Jonas Jerebko,Boston Celtics,8.0000,PF,29.0000,6-10,231.0000,NaN,5000000.0000
5,Amir Johnson,Boston Celtics,90.0000,PF,29.0000,6-9,240.0000,NaN,12000000.0000
6,Jordan Mickey,Boston Celtics,55.0000,PF,21.0000,6-8,235.0000,LSU,1170960.0000
7,Kelly Olynyk,Boston Celtics,41.0000,C,25.0000,7-0,238.0000,Gonzaga,2165160.0000
8,Terry Rozier,Boston Celtics,12.0000,PG,22.0000,6-2,190.0000,Louisville,1824360.0000
9,Marcus Smart,Boston Celtics,36.0000,PG,22.0000,6-4,220.0000,Oklahoma State,3431040.0000

In [2]:
#Columns
list(dt_nba)

['Name',
 'Team',
 'Number',
 'Position',
 'Age',
 'Height',
 'Weight',
 'College',
 'Salary']

## Partitition By Column  (Sum/Mean/Max/Min)

In [3]:
#groupby('$PartionColumn$')['$AggregateColumn$'].transform('$AggreateMethod$')[0:20]

# =AVG(Salary) OVER (PARTITION BY Team)
dt_nba["TeamAverageSalary"] = dt_nba.groupby('Team')['Salary'].transform('mean')

dt_nba[["Name","Team","Salary","TeamAverageSalary"]].head(10)

            Name            Team        Salary  TeamAverageSalary
0  Avery Bradley  Boston Celtics  7730337.0000       4181504.8571
1    Jae Crowder  Boston Celtics  6796117.0000       4181504.8571
2   John Holland  Boston Celtics           nan       4181504.8571
3    R.J. Hunter  Boston Celtics  1148640.0000       4181504.8571
4  Jonas Jerebko  Boston Celtics  5000000.0000       4181504.8571
5   Amir Johnson  Boston Celtics 12000000.0000       4181504.8571
6  Jordan Mickey  Boston Celtics  1170960.0000       4181504.8571
7   Kelly Olynyk  Boston Celtics  2165160.0000       4181504.8571
8   Terry Rozier  Boston Celtics  1824360.0000       4181504.8571
9   Marcus Smart  Boston Celtics  3431040.0000       4181504.8571

### Query Filter

DataFrame[Bool]  --> if true then return row.  if false, hide row.

In [4]:
#selecting a column and making a condition out of it will return a bool.
(dt_nba["Salary"] > 5000000).head()

0     True
1     True
2    False
3    False
4    False
Name: Salary, dtype: bool

In [5]:
dt_nba[(dt_nba["Salary"] > 20000000)]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,TeamAverageSalary
33,Carmelo Anthony,New York Knicks,7.0000,SF,32.0000,6-8,240.0000,Syracuse,22875000.0000,4581493.6250
100,Chris Paul,Los Angeles Clippers,3.0000,PG,31.0000,6-0,175.0000,Wake Forest,21468695.0000,6323642.6667
109,Kobe Bryant,Los Angeles Lakers,24.0000,SF,37.0000,6-6,212.0000,NaN,25000000.0000,4784695.4000
164,Derrick Rose,Chicago Bulls,1.0000,PG,27.0000,6-3,190.0000,Memphis,20093064.0000,5785558.5333
169,LeBron James,Cleveland Cavaliers,23.0000,SF,31.0000,6-8,250.0000,NaN,22970500.0000,7642049.2143
251,Dwight Howard,Houston Rockets,12.0000,C,30.0000,6-11,265.0000,NaN,22359364.0000,5018868.0667
339,Chris Bosh,Miami Heat,1.0000,PF,32.0000,6-11,235.0000,Georgia Tech,22192730.0000,6347359.4615
414,Kevin Durant,Oklahoma City Thunder,35.0000,SF,27.0000,6-9,240.0000,Texas,20158622.0000,6251019.8667

In [6]:
dt_nba[(dt_nba["Salary"] > 20000000) & (dt_nba["Age"]<=31)]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,TeamAverageSalary
100,Chris Paul,Los Angeles Clippers,3.0000,PG,31.0000,6-0,175.0000,Wake Forest,21468695.0000,6323642.6667
164,Derrick Rose,Chicago Bulls,1.0000,PG,27.0000,6-3,190.0000,Memphis,20093064.0000,5785558.5333
169,LeBron James,Cleveland Cavaliers,23.0000,SF,31.0000,6-8,250.0000,NaN,22970500.0000,7642049.2143
251,Dwight Howard,Houston Rockets,12.0000,C,30.0000,6-11,265.0000,NaN,22359364.0000,5018868.0667
414,Kevin Durant,Oklahoma City Thunder,35.0000,SF,27.0000,6-9,240.0000,Texas,20158622.0000,6251019.8667

In [7]:
dt_nba.query("Salary > 20000000 and Age <=31")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,TeamAverageSalary
100,Chris Paul,Los Angeles Clippers,3.0000,PG,31.0000,6-0,175.0000,Wake Forest,21468695.0000,6323642.6667
164,Derrick Rose,Chicago Bulls,1.0000,PG,27.0000,6-3,190.0000,Memphis,20093064.0000,5785558.5333
169,LeBron James,Cleveland Cavaliers,23.0000,SF,31.0000,6-8,250.0000,NaN,22970500.0000,7642049.2143
251,Dwight Howard,Houston Rockets,12.0000,C,30.0000,6-11,265.0000,NaN,22359364.0000,5018868.0667
414,Kevin Durant,Oklahoma City Thunder,35.0000,SF,27.0000,6-9,240.0000,Texas,20158622.0000,6251019.8667

## RowNumber() with Filter

### Syntax: 

groupby('$PartionColumn$')['$AggregateColumn$'].transform('$AggreateMethod$')[0:20]

In [8]:
#Syntax Type : 1
#=ROW_NUMBER() OVER (PARTITION BY Team)
dt_nba["RowID"] = dt_nba.groupby('Team')['Name'].transform(lambda x: x.rank()).astype(int)

In [9]:
#Syntax Type : 2
# =ROW_NUMBER() OVER (PARTITION BY Team ORDER BY Name) : using cumcount() needs presorted data
dt_nba["RowID2"] = dt_nba.sort_values(["Team","Name"]).groupby('Team')['Name'].cumcount() + 1

In [10]:
#Count nulls in dataframe
dt_nba.isnull().sum()

Name                  0
Team                  0
Number                0
Position              0
Age                   0
Height                0
Weight                0
College              84
Salary               11
TeamAverageSalary     0
RowID                 0
RowID2                0
dtype: int64

In [11]:
dt_nba[["Name","Team","Salary","TeamAverageSalary","RowID","RowID2"]].head(10)

,Name,Team,Salary,TeamAverageSalary,RowID,RowID2
0,Avery Bradley,Boston Celtics,7730337.0000,4181504.8571,2,2
1,Jae Crowder,Boston Celtics,6796117.0000,4181504.8571,5,5
2,John Holland,Boston Celtics,nan,4181504.8571,8,8
3,R.J. Hunter,Boston Celtics,1148640.0000,4181504.8571,13,13
4,Jonas Jerebko,Boston Celtics,5000000.0000,4181504.8571,9,9
5,Amir Johnson,Boston Celtics,12000000.0000,4181504.8571,1,1
6,Jordan Mickey,Boston Celtics,1170960.0000,4181504.8571,10,10
7,Kelly Olynyk,Boston Celtics,2165160.0000,4181504.8571,11,11
8,Terry Rozier,Boston Celtics,1824360.0000,4181504.8571,14,14
9,Marcus Smart,Boston Celtics,3431040.0000,4181504.8571,12,12

In [12]:
# dt_nba[["Name","Team","Salary","TeamAverageSalary","RowID"]] => new data frame
# .sort_values(["Team","Name"])  => sort data by Team and Name
# [condition] => filter

dt_nba_sorted = dt_nba[["Name","Team","Salary","TeamAverageSalary","RowID","RowID2"]].sort_values(["Team","Name"])

#show only rows that have rowid < 5
dt_nba_sorted[dt_nba_sorted["RowID2"]<=3][:20]

#NOTE : Filter =  DT[Boolean] ==>>  EG :  DT[DT["Column"]<>0]

,Name,Team,Salary,TeamAverageSalary,RowID,RowID2
312,Al Horford,Atlanta Hawks,12000000.0000,4860196.6667,1,1
318,Dennis Schroder,Atlanta Hawks,1763400.0000,4860196.6667,2,2
323,Jeff Teague,Atlanta Hawks,8000000.0000,4860196.6667,3,3
5,Amir Johnson,Boston Celtics,12000000.0000,4181504.8571,1,1
0,Avery Bradley,Boston Celtics,7730337.0000,4181504.8571,2,2
12,Evan Turner,Boston Celtics,3425510.0000,4181504.8571,3,3
15,Bojan Bogdanovic,Brooklyn Nets,3425510.0000,3501898.3333,1,1
23,Brook Lopez,Brooklyn Nets,19689000.0000,3501898.3333,2,2
24,Chris McCullough,Brooklyn Nets,1140240.0000,3501898.3333,3,3
328,Aaron Harrison,Charlotte Hornets,525093.0000,5222728.0000,1,1
330,Al Jefferson,Charlotte Hornets,13500000.0000,5222728.0000,2,2
338,Cody Zeller,Charlotte Hornets,4204200.0000,5222728.0000,3,3
152,Aaron Brooks,Chicago Bulls,2250000.0000,5785558.5333,1,1
163,Bobby Portis,Chicago Bulls,1391160.0000,5785558.5333,2,2
151,Cameron Bairstow,Chicago Bulls,845059.0000,5785558.5333,3,3
167,Channing Frye,Cleveland Cavaliers,8193029.0000,7642049.2143,1,1
171,Dahntay Jones,Cleveland Cavaliers,nan,7642049.2143,2,2
177,Iman Shumpert,Cleveland Cavaliers,8988765.0000,7642049.2143,3,3
238,Chandler Parsons,Dallas Mavericks,15361500.0000,4746582.1333,1,1
240,Charlie Villanueva,Dallas Mavericks,947276.0000,4746582.1333,2,2

In [13]:
dt_nba_sorted.query("RowID2<=3").head(12)

,Name,Team,Salary,TeamAverageSalary,RowID,RowID2
312,Al Horford,Atlanta Hawks,12000000.0000,4860196.6667,1,1
318,Dennis Schroder,Atlanta Hawks,1763400.0000,4860196.6667,2,2
323,Jeff Teague,Atlanta Hawks,8000000.0000,4860196.6667,3,3
5,Amir Johnson,Boston Celtics,12000000.0000,4181504.8571,1,1
0,Avery Bradley,Boston Celtics,7730337.0000,4181504.8571,2,2
12,Evan Turner,Boston Celtics,3425510.0000,4181504.8571,3,3
15,Bojan Bogdanovic,Brooklyn Nets,3425510.0000,3501898.3333,1,1
23,Brook Lopez,Brooklyn Nets,19689000.0000,3501898.3333,2,2
24,Chris McCullough,Brooklyn Nets,1140240.0000,3501898.3333,3,3
328,Aaron Harrison,Charlotte Hornets,525093.0000,5222728.0000,1,1
330,Al Jefferson,Charlotte Hornets,13500000.0000,5222728.0000,2,2
338,Cody Zeller,Charlotte Hornets,4204200.0000,5222728.0000,3,3