# Python - Pandas - Data Frame - Filter Conditions

In [1]:
import pandas as pd    #python data analysis

#format settings
pd.options.display.float_format = '{:.4f}'.format

#read from CSV
str_path_data = "..//..//data//"
dt_nba = pd.read_csv(str_path_data + "nba.csv")
dt_nba = dt_nba.dropna(how="all") #remove all row where all data is null
dt_nba.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0000,PG,25.0000,6-2,180.0000,Texas,7730337.0000
1,Jae Crowder,Boston Celtics,99.0000,SF,25.0000,6-6,235.0000,Marquette,6796117.0000
2,John Holland,Boston Celtics,30.0000,SG,27.0000,6-5,205.0000,Boston University,nan
3,R.J. Hunter,Boston Celtics,28.0000,SG,22.0000,6-5,185.0000,Georgia State,1148640.0000
4,Jonas Jerebko,Boston Celtics,8.0000,PF,29.0000,6-10,231.0000,NaN,5000000.0000
5,Amir Johnson,Boston Celtics,90.0000,PF,29.0000,6-9,240.0000,NaN,12000000.0000
6,Jordan Mickey,Boston Celtics,55.0000,PF,21.0000,6-8,235.0000,LSU,1170960.0000
7,Kelly Olynyk,Boston Celtics,41.0000,C,25.0000,7-0,238.0000,Gonzaga,2165160.0000
8,Terry Rozier,Boston Celtics,12.0000,PG,22.0000,6-2,190.0000,Louisville,1824360.0000
9,Marcus Smart,Boston Celtics,36.0000,PG,22.0000,6-4,220.0000,Oklahoma State,3431040.0000

In [2]:
#Columns
list(dt_nba)

['Name',
 'Team',
 'Number',
 'Position',
 'Age',
 'Height',
 'Weight',
 'College',
 'Salary']

##  Filter Conditions using Boolean filters

DataFrame[Bool]  --> if true then return row.  if false, hide row.

In [3]:
#selecting a column and making a condition out of it will return a bool.
(dt_nba["Salary"] > 5000000).head()

0     True
1     True
2    False
3    False
4    False
Name: Salary, dtype: bool

In [4]:
dt_nba[(dt_nba["Salary"] > 20000000)]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
33,Carmelo Anthony,New York Knicks,7.0000,SF,32.0000,6-8,240.0000,Syracuse,22875000.0000
100,Chris Paul,Los Angeles Clippers,3.0000,PG,31.0000,6-0,175.0000,Wake Forest,21468695.0000
109,Kobe Bryant,Los Angeles Lakers,24.0000,SF,37.0000,6-6,212.0000,NaN,25000000.0000
164,Derrick Rose,Chicago Bulls,1.0000,PG,27.0000,6-3,190.0000,Memphis,20093064.0000
169,LeBron James,Cleveland Cavaliers,23.0000,SF,31.0000,6-8,250.0000,NaN,22970500.0000
251,Dwight Howard,Houston Rockets,12.0000,C,30.0000,6-11,265.0000,NaN,22359364.0000
339,Chris Bosh,Miami Heat,1.0000,PF,32.0000,6-11,235.0000,Georgia Tech,22192730.0000
414,Kevin Durant,Oklahoma City Thunder,35.0000,SF,27.0000,6-9,240.0000,Texas,20158622.0000

In [5]:
# AND condition
#    note: additional brackets are needed for each boolean output.
dt_nba[(dt_nba["Salary"] > 20000000) & (dt_nba["Age"]<=31)]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
100,Chris Paul,Los Angeles Clippers,3.0000,PG,31.0000,6-0,175.0000,Wake Forest,21468695.0000
164,Derrick Rose,Chicago Bulls,1.0000,PG,27.0000,6-3,190.0000,Memphis,20093064.0000
169,LeBron James,Cleveland Cavaliers,23.0000,SF,31.0000,6-8,250.0000,NaN,22970500.0000
251,Dwight Howard,Houston Rockets,12.0000,C,30.0000,6-11,265.0000,NaN,22359364.0000
414,Kevin Durant,Oklahoma City Thunder,35.0000,SF,27.0000,6-9,240.0000,Texas,20158622.0000

In [6]:
# AND condition using variables
mask1 = dt_nba["Salary"] > 20000000
mask2 = dt_nba["Age"]<=30

mask2.head()

0    True
1    True
2    True
3    True
4    True
Name: Age, dtype: bool

In [7]:
# &  = AND
# |  = OR

dt_nba[mask1 & mask2]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
164,Derrick Rose,Chicago Bulls,1.0000,PG,27.0000,6-3,190.0000,Memphis,20093064.0000
251,Dwight Howard,Houston Rockets,12.0000,C,30.0000,6-11,265.0000,NaN,22359364.0000
414,Kevin Durant,Oklahoma City Thunder,35.0000,SF,27.0000,6-9,240.0000,Texas,20158622.0000

##  Filter : Query function (string)

In [8]:
dt_nba.query("Salary > 20000000 and Age <=31")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
100,Chris Paul,Los Angeles Clippers,3.0000,PG,31.0000,6-0,175.0000,Wake Forest,21468695.0000
164,Derrick Rose,Chicago Bulls,1.0000,PG,27.0000,6-3,190.0000,Memphis,20093064.0000
169,LeBron James,Cleveland Cavaliers,23.0000,SF,31.0000,6-8,250.0000,NaN,22970500.0000
251,Dwight Howard,Houston Rockets,12.0000,C,30.0000,6-11,265.0000,NaN,22359364.0000
414,Kevin Durant,Oklahoma City Thunder,35.0000,SF,27.0000,6-9,240.0000,Texas,20158622.0000

## Filter : IN condition

In [9]:
mask_college = dt_nba["College"].isin(["LSU","Texas","Memphis"])
mask_position = dt_nba["Position"].isin(["PG","SF"])

dt_nba[mask_college & mask_position]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0000,PG,25.0000,6-2,180.0000,Texas,7730337.0000
66,Cory Joseph,Toronto Raptors,6.0000,PG,24.0000,6-3,190.0000,Texas,7000000.0000
133,P.J. Tucker,Phoenix Suns,17.0000,SF,31.0000,6-6,245.0000,Texas,5500000.0000
164,Derrick Rose,Chicago Bulls,1.0000,PG,27.0000,6-3,190.0000,Memphis,20093064.0000
381,Marcus Thornton,Washington Wizards,15.0000,SF,29.0000,6-4,205.0000,LSU,200600.0000
384,D.J. Augustin,Denver Nuggets,12.0000,PG,28.0000,6-0,183.0000,Texas,3000000.0000
385,Will Barton,Denver Nuggets,5.0000,SF,25.0000,6-6,175.0000,Memphis,3533333.0000
414,Kevin Durant,Oklahoma City Thunder,35.0000,SF,27.0000,6-9,240.0000,Texas,20158622.0000

## Filter : ISNULL / NOTNULL

In [10]:
mask_has_college = dt_nba["College"].notnull()
mask_no_salary = dt_nba["Salary"].isnull()

dt_nba[mask_has_college & mask_no_salary]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
2,John Holland,Boston Celtics,30.0000,SG,27.0000,6-5,205.0000,Boston University,nan
46,Elton Brand,Philadelphia 76ers,42.0000,PF,37.0000,6-9,254.0000,Duke,nan
171,Dahntay Jones,Cleveland Cavaliers,30.0000,SG,35.0000,6-6,225.0000,Duke,nan
264,Jordan Farmar,Memphis Grizzlies,4.0000,PG,29.0000,6-2,180.0000,UCLA,nan
269,Ray McCallum,Memphis Grizzlies,5.0000,PG,24.0000,6-3,190.0000,Detroit,nan
270,Xavier Munford,Memphis Grizzlies,14.0000,PG,24.0000,6-3,180.0000,Rhode Island,nan
273,Alex Stepheson,Memphis Grizzlies,35.0000,PF,28.0000,6-10,270.0000,USC,nan
350,Briante Weber,Miami Heat,12.0000,PG,23.0000,6-2,165.0000,Virginia Commonwealth,nan
409,Greg Smith,Minnesota Timberwolves,4.0000,PF,25.0000,6-10,250.0000,Fresno State,nan

## Filter : Between

In [11]:
mask_salary_range = dt_nba["Age"].between(21,23)

dt_nba[mask_salary_range].head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
3,R.J. Hunter,Boston Celtics,28.0000,SG,22.0000,6-5,185.0000,Georgia State,1148640.0000
6,Jordan Mickey,Boston Celtics,55.0000,PF,21.0000,6-8,235.0000,LSU,1170960.0000
8,Terry Rozier,Boston Celtics,12.0000,PG,22.0000,6-2,190.0000,Louisville,1824360.0000
9,Marcus Smart,Boston Celtics,36.0000,PG,22.0000,6-4,220.0000,Oklahoma State,3431040.0000
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0000,SG,21.0000,6-7,220.0000,Arizona,1335480.0000
20,Sergey Karasev,Brooklyn Nets,10.0000,SG,22.0000,6-7,208.0000,NaN,1599840.0000
22,Shane Larkin,Brooklyn Nets,0.0000,PG,23.0000,5-11,175.0000,Miami (FL),1500000.0000
24,Chris McCullough,Brooklyn Nets,1.0000,PF,21.0000,6-11,200.0000,Syracuse,1140240.0000
32,Thanasis Antetokounmpo,New York Knicks,43.0000,SF,23.0000,6-7,205.0000,NaN,30888.0000
37,Jerian Grant,New York Knicks,13.0000,PG,23.0000,6-4,195.0000,Notre Dame,1572360.0000

## Find Duplicates

In [12]:
# Note :  ~ = NOT

mask_no_duplicate_college =  ~dt_nba["College"].duplicated()

dt_nba[mask_no_duplicate_college].sort_values("College").head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
180,Mo Williams,Cleveland Cavaliers,52.0000,PG,33.0000,6-1,198.0000,Alabama,2100000.0000
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0000,SG,21.0000,6-7,220.0000,Arizona,1335480.0000
92,Jeff Ayres,Los Angeles Clippers,19.0000,PF,29.0000,6-9,250.0000,Arizona State,111444.0000
163,Bobby Portis,Chicago Bulls,5.0000,PF,21.0000,6-11,230.0000,Arkansas,1391160.0000
136,Quincy Acy,Sacramento Kings,13.0000,SF,25.0000,6-7,240.0000,Baylor,981348.0000
79,Ian Clark,Golden State Warriors,21.0000,SG,25.0000,6-3,175.0000,Belmont,947276.0000
259,Chris Andersen,Memphis Grizzlies,7.0000,PF,37.0000,6-10,245.0000,Blinn College,5000000.0000
191,Reggie Jackson,Detroit Pistons,1.0000,PG,26.0000,6-3,208.0000,Boston College,13913044.0000
2,John Holland,Boston Celtics,30.0000,SG,27.0000,6-5,205.0000,Boston University,nan
51,Richaun Holmes,Philadelphia 76ers,22.0000,PF,22.0000,6-10,245.0000,Bowling Green,1074169.0000

## Find Duplicates and Drop them

In [13]:
dt_nba.drop_duplicates(subset=["Position","Team"], keep="first").head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0000,PG,25.0000,6-2,180.0000,Texas,7730337.0000
1,Jae Crowder,Boston Celtics,99.0000,SF,25.0000,6-6,235.0000,Marquette,6796117.0000
2,John Holland,Boston Celtics,30.0000,SG,27.0000,6-5,205.0000,Boston University,nan
4,Jonas Jerebko,Boston Celtics,8.0000,PF,29.0000,6-10,231.0000,NaN,5000000.0000
7,Kelly Olynyk,Boston Celtics,41.0000,C,25.0000,7-0,238.0000,Gonzaga,2165160.0000
15,Bojan Bogdanovic,Brooklyn Nets,44.0000,SG,27.0000,6-8,216.0000,NaN,3425510.0000
19,Jarrett Jack,Brooklyn Nets,2.0000,PG,32.0000,6-3,200.0000,Georgia Tech,6300000.0000
23,Brook Lopez,Brooklyn Nets,11.0000,C,28.0000,7-0,275.0000,Stanford,19689000.0000
24,Chris McCullough,Brooklyn Nets,1.0000,PF,21.0000,6-11,200.0000,Syracuse,1140240.0000
30,Arron Afflalo,New York Knicks,4.0000,SG,30.0000,6-5,210.0000,UCLA,8000000.0000

### Unique Values

In [14]:
dt_nba["Team"].unique()

array(['Boston Celtics', 'Brooklyn Nets', 'New York Knicks',
       'Philadelphia 76ers', 'Toronto Raptors', 'Golden State Warriors',
       'Los Angeles Clippers', 'Los Angeles Lakers', 'Phoenix Suns',
       'Sacramento Kings', 'Chicago Bulls', 'Cleveland Cavaliers',
       'Detroit Pistons', 'Indiana Pacers', 'Milwaukee Bucks',
       'Dallas Mavericks', 'Houston Rockets', 'Memphis Grizzlies',
       'New Orleans Pelicans', 'San Antonio Spurs', 'Atlanta Hawks',
       'Charlotte Hornets', 'Miami Heat', 'Orlando Magic',
       'Washington Wizards', 'Denver Nuggets', 'Minnesota Timberwolves',
       'Oklahoma City Thunder', 'Portland Trail Blazers', 'Utah Jazz'],
      dtype=object)

In [15]:
#number of unique values
dt_nba["Team"].nunique(dropna=False)  #note : NA is by default not counted.

30