In [36]:
import pandas as pd    #python data analysis

#format settings
pd.options.display.float_format = '{:.4f}'.format

#read from CSV
str_path_data = "..//..//data//"
dt_world_raw = pd.read_csv(str_path_data + "worldstats.csv")
dt_world_raw.head(10)

      country  year     Population                GDP
0  Arab World  2015 392022276.0000 2530101503617.0000
1  Arab World  2014 384222592.0000 2873599811404.5898
2  Arab World  2013 376504253.0000 2846994251978.3501
3  Arab World  2012 368802611.0000 2773269952553.3301
4  Arab World  2011 361031820.0000 2497944765462.0200
5  Arab World  2010 353112237.0000 2103824906396.0601
6  Arab World  2009 345054176.0000 1798878411325.0400
7  Arab World  2008 336886468.0000 2081342637384.0701
8  Arab World  2007 328766559.0000 1641666468060.3401
9  Arab World  2006 320906736.0000 1404189584203.3301

### Requires Index Columns for Pivot

In [35]:

#reading data with INDEX : Used for stacking / unstacking
dt_world = pd.read_csv(str_path_data + "worldstats.csv",index_col=["country","year"])
dt_world.head(10)

                    Population                GDP
country    year
Arab World 2015 392022276.0000 2530101503617.0000
           2014 384222592.0000 2873599811404.5898
           2013 376504253.0000 2846994251978.3501
           2012 368802611.0000 2773269952553.3301
           2011 361031820.0000 2497944765462.0200
           2010 353112237.0000 2103824906396.0601
           2009 345054176.0000 1798878411325.0400
           2008 336886468.0000 2081342637384.0701
           2007 328766559.0000 1641666468060.3401
           2006 320906736.0000 1404189584203.3301

In [37]:
s_dt_world = dt_world.stack()
s_dt_world.head(10)

country     year
Arab World  2015  Population       392022276.0000
                  GDP          2530101503617.0000
            2014  Population       384222592.0000
                  GDP          2873599811404.5898
            2013  Population       376504253.0000
                  GDP          2846994251978.3501
            2012  Population       368802611.0000
                  GDP          2773269952553.3301
            2011  Population       361031820.0000
                  GDP          2497944765462.0200
dtype: float64

In [41]:
s_dt_world.unstack(level = [0]).head(10) # level is stacking on column index

country            Afghanistan  Albania         Algeria  Andorra  Angola  \
year
1960 Population   8994793.0000      nan   11124892.0000      nan     nan
     GDP        537777811.9111      nan 2723637614.7325      nan     nan
1961 Population   9164945.0000      nan   11404859.0000      nan     nan
     GDP        548888894.5778      nan 2434766868.7039      nan     nan
1962 Population   9343772.0000      nan   11690152.0000      nan     nan
     GDP        546666678.0444      nan 2001460830.6817      nan     nan
1963 Population   9531555.0000      nan   11985130.0000      nan     nan
     GDP        751111190.7556      nan 2703004013.1649      nan     nan
1964 Population   9728645.0000      nan   12295973.0000      nan     nan
     GDP        800000045.5111      nan 2909340109.8614      nan     nan

country          Antigua and Barbuda  Arab World        Argentina  Armenia  \
year
1960 Population                  nan         nan              nan      nan
     GDP                         nan         nan              nan      nan
1961 Population                  nan         nan              nan      nan
     GDP                         nan         nan              nan      nan
1962 Population                  nan         nan    21287682.0000      nan
     GDP                         nan         nan 24450604877.6081      nan
1963 Population                  nan         nan    21621845.0000      nan
     GDP                         nan         nan 18272123664.4715      nan
1964 Population                  nan         nan    21953926.0000      nan
     GDP                         nan         nan 25605249381.7597      nan

country          Aruba       ...        Uzbekistan  Vanuatu    Venezuela, RB  \
year                         ...
1960 Population    nan       ...               nan      nan     8146845.0000
     GDP           nan       ...               nan      nan  8607600068.6533
1961 Population    nan       ...               nan      nan     8461684.0000
     GDP           nan       ...               nan      nan  8923366627.5304
1962 Population    nan       ...               nan      nan     8790590.0000
     GDP           nan       ...               nan      nan  9873397859.3513
1963 Population    nan       ...               nan      nan     9130346.0000
     GDP           nan       ...               nan      nan 10663375513.5473
1964 Population    nan       ...               nan      nan     9476255.0000
     GDP           nan       ...               nan      nan  9113580696.4801

country          Vietnam  Virgin Islands (U.S.)  West Bank and Gaza  \
year
1960 Population      nan             32000.0000                 nan
     GDP             nan          24200000.0000                 nan
1961 Population      nan             34100.0000                 nan
     GDP             nan          25700000.0000                 nan
1962 Population      nan             36300.0000                 nan
     GDP             nan          36900000.0000                 nan
1963 Population      nan             38700.0000                 nan
     GDP             nan          41400000.0000                 nan
1964 Population      nan             41300.0000                 nan
     GDP             nan          53800000.0000                 nan

country                      World  Yemen, Rep.         Zambia        Zimbabwe
year
1960 Population    3035055570.0000          nan   3049586.0000    3752390.0000
     GDP        1364643029724.0701          nan 698739720.7836 1052990400.0000
1961 Population    3076120548.0000          nan   3142848.0000    3876638.0000
     GDP        1420439542038.7100          nan 682359727.3291 1096646600.0000
1962 Population    3129063789.0000          nan   3240664.0000    4006262.0000
     GDP        1524572777100.7900          nan 679279728.5598 1117601600.0000
1963 Population    3193947306.0000          nan   3342894.0000    4140804.0000
     GDP        1638187223181.9399          nan 704339718.5458 1159511700.0000
1964 Population    3259354557.0000          nan   3449266.0000    4279561.0000
     GDP        1799674836402.4600          nan 822639671.2732 1217138000.0000

[10 rows x 252 columns]

In [42]:
s_dt_world.unstack(level = [1]).head(10)  # level is stacking on column index

year                              1960            1961            1962  \
country
Afghanistan Population    8994793.0000    9164945.0000    9343772.0000
            GDP         537777811.9111  548888894.5778  546666678.0444
Albania     Population             nan             nan             nan
            GDP                    nan             nan             nan
Algeria     Population   11124892.0000   11404859.0000   11690152.0000
            GDP        2723637614.7325 2434766868.7039 2001460830.6817
Andorra     Population             nan             nan             nan
            GDP                    nan             nan             nan
Angola      Population             nan             nan             nan
            GDP                    nan             nan             nan

year                              1963            1964            1965  \
country
Afghanistan Population    9531555.0000    9728645.0000    9935358.0000
            GDP         751111190.7556  800000045.5111 1006666638.2222
Albania     Population             nan             nan             nan
            GDP                    nan             nan             nan
Algeria     Population   11985130.0000   12295973.0000   12626953.0000
            GDP        2703004013.1649 2909340109.8614 3136284383.5279
Andorra     Population             nan             nan             nan
            GDP                    nan             nan             nan
Angola      Population             nan             nan             nan
            GDP                    nan             nan             nan

year                              1966            1967            1968  \
country
Afghanistan Population   10148841.0000   10368600.0000   10599790.0000
            GDP        1399999965.8667 1673333418.6667 1373333367.4667
Albania     Population             nan             nan             nan
            GDP                    nan             nan             nan
Algeria     Population   12980269.0000   13354197.0000   13744383.0000
            GDP        3039859261.7675 3370870458.7050 3852147120.9470
Andorra     Population             nan             nan             nan
            GDP                    nan             nan             nan
Angola      Population             nan             nan             nan
            GDP                    nan             nan             nan

year                              1969        ...                     2006  \
country                                       ...
Afghanistan Population   10849510.0000        ...            25183615.0000
            GDP        1408888923.0222        ...          7057598406.6155
Albania     Population             nan        ...             2992547.0000
            GDP                    nan        ...          8992642348.9580
Algeria     Population   14144437.0000        ...            33749328.0000
            GDP        4257253368.1660        ...        117027304787.8360
Andorra     Population             nan        ...               83373.0000
            GDP                    nan        ...          3536451645.5643
Angola      Population             nan        ...            18541467.0000
            GDP                    nan        ...         41789478661.3096

year                                2007              2008              2009  \
country
Afghanistan Population     25877544.0000     26528741.0000     27207291.0000
            GDP          9843842455.4832  10190529882.4878  12486943505.7381
Albania     Population      2970017.0000      2947314.0000      2927519.0000
            GDP         10701011896.7708  12881352687.7773  12044212903.8168
Algeria     Population     34261971.0000     34811059.0000     35401790.0000
            GDP        134977088396.4190 171000692134.7480 137211039899.5700
Andorra     Population        84878.0000        85616.0000        85474.0000
            GDP          4010785102.0513   4001349339.5705   3649863492.5243
Angola      Population     19183907.0000     19842251.0000     20520103.0000
            GDP         60448921272.2326  84178032716.0971  75492384801.3695

year                                2010              2011              2012  \
country
Afghanistan Population     27962207.0000     28809167.0000     29726803.0000
            GDP         15936800636.2487  17930239399.8149  20536542736.7297
Albania     Population      2913021.0000      2904780.0000      2900247.0000
            GDP         11926953258.9160  12890867538.5302  12319784787.2987
Algeria     Population     36036159.0000     36717132.0000     37439427.0000
            GDP        161207268840.9110 200013050828.1700 209047389599.6700
Andorra     Population        84419.0000        82326.0000        79316.0000
            GDP          3346317328.5246   3427235708.6433   3146177740.6367
Angola      Population     21219954.0000     21942296.0000     22685632.0000
            GDP         82470913120.7314 104115923082.7370 115398371427.6730

year                                2013              2014              2015
country
Afghanistan Population     30682500.0000     31627506.0000     32526562.0000
            GDP         20046334303.9661  20050189881.6659  19199437988.8023
Albania     Population      2896652.0000      2893654.0000      2889167.0000
            GDP         12781029643.5936  13277963807.0823  11455595709.1413
Algeria     Population     38186135.0000     38934334.0000     39666519.0000
            GDP        209703529364.3311 213518488688.1200 166838617796.5550
Andorra     Population        75902.0000               nan               nan
            GDP          3249100666.8710               nan               nan
Angola      Population     23448202.0000     24227524.0000     25021974.0000
            GDP        124912063308.2020 126775134686.4370 102643104696.2080

[10 rows x 56 columns]

In [69]:
#Filter then Index then stack

#Filter performs the WHERE condition
#SetIndex prepares the Levels for the Stacking
#Unstacking group by the target level.
dt_world_raw [ dt_world_raw["year"].isin(["2007","2008"]) ].set_index(["country","year"]).unstack(level = [0])

           Population                                                      \
country   Afghanistan      Albania       Algeria    Andorra        Angola
year
2007    25877544.0000 2970017.0000 34261971.0000 84878.0000 19183907.0000
2008    26528741.0000 2947314.0000 34811059.0000 85616.0000 19842251.0000

                                                                       \
country Antigua and Barbuda     Arab World     Argentina      Armenia
year
2007             84397.0000 328766559.0000 39969903.0000 2988117.0000
2008             85350.0000 336886468.0000 40381860.0000 2975029.0000

                          ...                    GDP                   \
country       Aruba       ...                Uruguay       Uzbekistan
year                      ...
2007    101218.0000       ...       23410572633.2882 22311393927.8817
2008    101342.0000       ...       30366213118.4076 27934030937.2157

                                                                              \
country        Vanuatu     Venezuela, RB          Vietnam West Bank and Gaza
year
2007    526428309.9451 230364229156.9630 77414425532.2452    5505800000.0000
2008    607958616.1434 315600203539.8230 99130304099.1274    6673500000.0000


country               World      Yemen, Rep.           Zambia        Zimbabwe
year
2007    57583425018506.1016 25633674563.5493 14056957976.2648 5291950100.0000
2008    63128556653064.6016 30397203368.9725 17910858637.9048 4415702800.0000

[2 rows x 492 columns]

In [78]:
#Filter then Index then stack

#Filter performs the WHERE condition
#SetIndex prepares the Levels for the Stacking
#Unstacking group by the target level.
dt_world_raw [ dt_world_raw["year"].isin(["2007","2008"]) ].set_index(["country","year"]).unstack(level = "country")

           Population                                                      \
country   Afghanistan      Albania       Algeria    Andorra        Angola
year
2007    25877544.0000 2970017.0000 34261971.0000 84878.0000 19183907.0000
2008    26528741.0000 2947314.0000 34811059.0000 85616.0000 19842251.0000

                                                                       \
country Antigua and Barbuda     Arab World     Argentina      Armenia
year
2007             84397.0000 328766559.0000 39969903.0000 2988117.0000
2008             85350.0000 336886468.0000 40381860.0000 2975029.0000

                          ...                    GDP                   \
country       Aruba       ...                Uruguay       Uzbekistan
year                      ...
2007    101218.0000       ...       23410572633.2882 22311393927.8817
2008    101342.0000       ...       30366213118.4076 27934030937.2157

                                                                              \
country        Vanuatu     Venezuela, RB          Vietnam West Bank and Gaza
year
2007    526428309.9451 230364229156.9630 77414425532.2452    5505800000.0000
2008    607958616.1434 315600203539.8230 99130304099.1274    6673500000.0000


country               World      Yemen, Rep.           Zambia        Zimbabwe
year
2007    57583425018506.1016 25633674563.5493 14056957976.2648 5291950100.0000
2008    63128556653064.6016 30397203368.9725 17910858637.9048 4415702800.0000

[2 rows x 492 columns]

In [77]:
dt_world_raw [ dt_world_raw["year"].isin(["2007","2008"]) ].set_index(["country","year"]).unstack(level = "year")

                            Population                                 GDP  \
year                              2007            2008                2007
country
Afghanistan              25877544.0000   26528741.0000     9843842455.4832
Albania                   2970017.0000    2947314.0000    10701011896.7708
Algeria                  34261971.0000   34811059.0000   134977088396.4190
Andorra                     84878.0000      85616.0000     4010785102.0513
Angola                   19183907.0000   19842251.0000    60448921272.2326
Antigua and Barbuda         84397.0000      85350.0000     1289254333.3333
Arab World              328766559.0000  336886468.0000  1641666468060.3401
Argentina                39969903.0000   40381860.0000   329317513142.7110
Armenia                   2988117.0000    2975029.0000     9206301700.3962
Aruba                      101218.0000     101342.0000     2623726256.9832
Australia                20827600.0000   21249200.0000   853053309256.4971
Austria                   8295487.0000    8321496.0000   386458951546.6740
Azerbaijan                8581300.0000    8763400.0000    33050343782.7759
Bahamas, The               342259.0000     348587.0000     8318996000.0000
Bahrain                   1026568.0000    1115777.0000    21730000000.0000
Bangladesh              146592687.0000  148252473.0000    79611888213.1480
Barbados                   276154.0000     277315.0000     4546000000.0000
Belarus                   9560000.0000    9528000.0000    45275747860.6442
Belgium                  10625700.0000   10709973.0000   471821790309.3350
Belize                     298403.0000     306165.0000     1290542550.0000
Benin                     8707637.0000    8973525.0000     5969535131.5802
Bermuda                     64888.0000      65273.0000     5895048000.0000
Bhutan                     681471.0000     694990.0000     1196091805.0232
Bolivia                   9441482.0000    9599916.0000    13120183156.7149
Bosnia and Herzegovina    3840418.0000    3839749.0000    15776422673.1980
Botswana                  1930431.0000    1967866.0000    10939053365.4786
Brazil                  192784521.0000  194769696.0000  1397084381901.2900
Brunei Darussalam          374459.0000     380786.0000    12247694247.2298
Bulgaria                  7545338.0000    7492561.0000    44765733379.9860
Burkina Faso             14264002.0000   14709011.0000     6771277870.9641
...                                ...             ...                 ...
Sweden                    9148092.0000    9219637.0000   487816328342.3090
Switzerland               7551117.0000    7647675.0000   477407802315.8950
Syrian Arab Republic     19425597.0000             nan    40405006007.2086
Tajikistan                7099021.0000    7254072.0000     3719515378.9177
Tanzania                 41522004.0000   42844744.0000    21501741757.4840
Thailand                 66353572.0000   66453255.0000   262942650543.7711
Timor-Leste               1013194.0000    1030630.0000      559000000.0000
Togo                      5890414.0000    6052937.0000     2523462557.3898
Tonga                      102169.0000     102816.0000      299657872.0382
Trinidad and Tobago       1309260.0000    1315372.0000    21642304045.5120
Tunisia                  10225100.0000   10328900.0000    38908069299.2040
Turkey                   69515492.0000   70344357.0000   647155131629.4420
Turkmenistan              4858235.0000    4917541.0000    12664165103.1895
Tuvalu                       9764.0000       9788.0000       27030374.0273
Uganda                   29991958.0000   31014427.0000    12292813603.2327
Ukraine                  46509350.0000   46258200.0000   142719009900.9900
United Arab Emirates      6010100.0000    6900142.0000   257916133424.0980
United Kingdom           61322463.0000   61806995.0000  2969733893557.4199
United States           301231207.0000  304093966.0000 14477635000000.0000
Upper middle income    2397567310.0108 2415305551.5631 10731302268924.0996
Uruguay                   3339750.0000    3350832.0000    23410572633.2882
Uzbekistan               26868000.0000   27302800.0000    22311393927.8817
Vanuatu                    219956.0000     225335.0000      526428309.9451
Venezuela, RB            27670659.0000   28116716.0000   230364229156.9630
Vietnam                  84218500.0000   85118700.0000    77414425532.2452
West Bank and Gaza        3494496.0000    3596688.0000     5505800000.0000
World                  6675832678.0108 6758302522.5631 57583425018506.1016
Yemen, Rep.              21701105.0000   22322699.0000    25633674563.5493
Zambia                   12738676.0000   13114579.0000    14056957976.2648
Zimbabwe                 13297798.0000   13495462.0000     5291950100.0000


year                                  2008
country
Afghanistan               10190529882.4878
Albania                   12881352687.7773
Algeria                  171000692134.7480
Andorra                    4001349339.5705
Angola                    84178032716.0971
Antigua and Barbuda        1347349851.8519
Arab World              2081342637384.0701
Argentina                403781994527.7860
Armenia                   11662040713.8753
Aruba                      2791960893.8548
Australia               1054557743957.0300
Austria                  427611527757.4340
Azerbaijan                48852482960.0779
Bahamas, The               8246650000.0000
Bahrain                   25710877659.5745
Bangladesh                91631278239.3237
Barbados                   4595000000.0000
Belarus                   60752177438.8895
Belgium                  518626043650.2120
Belize                     1368625150.0000
Benin                      7132787396.6655
Bermuda                    6109928000.0000
Bhutan                     1258332337.2838
Bolivia                   16674324634.2373
Bosnia and Herzegovina    19101454463.7507
Botswana                  10945070441.9283
Brazil                  1695824517395.5701
Brunei Darussalam         14393099068.5859
Bulgaria                  54666642734.2757
Burkina Faso               8369637065.4025
...                                    ...
Sweden                   513965650650.1190
Switzerland              551546962699.6580
Syrian Arab Republic                   nan
Tajikistan                 5161298559.3424
Tanzania                  27368386358.1310
Thailand                 291383081231.8200
Timor-Leste                 694000000.0000
Togo                       3163416242.0588
Tonga                       340041546.5404
Trinidad and Tobago       27870257894.2347
Tunisia                   44856586316.0458
Turkey                   730337495197.8491
Turkmenistan              19271523178.8079
Tuvalu                       30290219.7618
Uganda                    14239026629.6390
Ukraine                  179992405832.3210
United Arab Emirates     315474615738.5980
United Kingdom          2793376838235.2900
United States          14718582000000.0000
Upper middle income    13126444263426.5996
Uruguay                   30366213118.4076
Uzbekistan                27934030937.2157
Vanuatu                     607958616.1434
Venezuela, RB            315600203539.8230
Vietnam                   99130304099.1274
West Bank and Gaza         6673500000.0000
World                  63128556653064.6016
Yemen, Rep.               30397203368.9725
Zambia                    17910858637.9048
Zimbabwe                   4415702800.0000

[246 rows x 4 columns]